<h1>All Blocmarks</h1>

<% @topics.each do |topic| %>
    <h3><%= link_to topic.title, topics_path(topic.id) %></h3>
        <ul>
            <% topic.bookmarks.each do |bookmark| %>
                <li><%= link_to bookmark.title, bookmark.url, :target=>'_blank' %></li>
            <% end %>
        </ul>
<% end %>
<br>

<%= form_for @new_topic do |f| %>
    <% f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Add Topic" %>
<% end %>
    
